.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #e4e8ee;
}

h1 {
  margin: 30px;
  font-family: "Ubuntu", sans-serif;
  text-shadow: 5px 5px 5px #232931;
  font-size: 6rem;
  color: #24aa7e;
}

p {
  font-size: 2rem;
  color: #24aa7e;
  font-family: "Ubuntu", sans-serif;
}

img {
  width: 60%;
}

.mybutton {
	box-shadow: 0px 1px 0px 0px rgb(20, 20, 20);
  background-color:rgb(240, 160, 160);
	border-radius:6px;
	border:1px solid #060804;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:30px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 2px rgb(20, 20, 20);
  }

.mybutton:hover {
  background-color:rgb(230, 140, 140);
}
.myButton:active {
  position:relative;
  top:1px;
  }
